@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  /* background-color: var(--tg-theme-bg-color); */
  
  /* color-scheme: light dark; */
  color: rgba(255, 255, 255, 0.87);
  --tgui--z-index--overlay: 1337 !important; 
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: inherit;
}

.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none; 
  background-color: var(--tg-theme-secondary-bg-color);
  --tgui--z-index--overlay: 1337 !important; 
  margin: 0 !important;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

